# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/

# Dataset & output besar — jangan push ke GitHub
dataset/
output/
runs/
*.pt
*.pth
*.ckpt

# CSV manifest (di-generate ulang)
*.csv

# Gambar & mask output
*.png
*.jpg
*.jpeg
refined_masks_output/
testing_predictions/
baseline_runs/
preprocessed_*/

# Jupyter checkpoint
.ipynb_checkpoints/

# macOS
.DS_Store

# Environment
.venv/
venv/
env/
